* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ul {
  list-style-type: none;
  align-items: center;
  justify-content: center;
  gap: 30%;
  font-size: 20px;
  font-weight: 550;
  position: fixed;
  top: 0;
  background: #2d2c2c;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  z-index: 2;
}

.column {
  flex-direction: column;
}

main {
  flex-wrap: wrap;
  align-items: center;
  margin-top: 50px;
}

.link a {
  color: #fff;
  text-decoration: none;
}

.food_items {
  justify-content: center;
  flex-basis: 30%;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  margin-bottom: 20px;
}

.meal_image {
  width: 200px;
}

.flex {
  display: flex;
}

.actions_name {
  gap: 10px;
}

.meal {
  font-weight: 500;
  font-size: 18px;
}

.nation {
  font-weight: 550;
  font-size: 18px;
}

.button {
  padding: 5px;
  font-size: 15px;
  margin-top: 10px;
}

.foot-item {
  display: flex;
  padding: 30px 60px;
  align-items: center;
}

.foot-line {
  border: 1px solid black;
  margin-top: 20px;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  /* background-color: rgb(55, 36, 143); */
  width: 90vw;
  min-height: 565px;
  border: 2px solid rgb(223, 17, 113);
  animation: 1s drop;
  display: none;
  padding: 0 8px;
}

.close-button {
  cursor: pointer;
  outline: none;
  margin-right: 4px;
  background-color: #fff;
  color: #67798e;
  border: none;
  font-size: 70px;
  margin-bottom: 10px;
  font-weight: 600;
  display: flex;
  justify-content: flex-end;
}

.add-comm {
  display: flex;
  justify-content: center;
}

.inputDiv {
  margin: 0 300px;
}

#name {
  width: 300px;
  color: #67798e;
  font-size: 25px;
  margin-bottom: 16px;
  /* font-weight: 600; */
}

#text {
  width: 400px;
  height: 72px;
  color: #67798e;
  font-size: 25px;
  margin-bottom: 16px;
}

.submit-btn {
  padding: 5px 18px;
  font-size: 15px;
  margin-top: 10px;
  color: red;
}
